h1{
    font-size: 100px;
    text-align: center;
}




ul li{
    font-size: 50px;
    margin-bottom: 10px;
}


ul {
    margin-bottom: 100px;
}


.link{
    text-align: center;
}

a{justify-content: center;
    color: blue;
    font-size: 50px;
}


@media screen and (max-width: 1024px){
    h1{
        font-size: 50px;
        text-decoration: underline;
        margin-top: 50px;
        margin-bottom: 150px;
    }
}